<ul class="library">
  <% for(var i=0; i<libraries.length; i++) {%>
    <li class="library">
      <span><%= libraries[i].name %></span>
      <span><%= libraries[i].library %></span>
    </li>
  <% } %>
</ul>