<div ng-if="!details">
  Loading results...
</div>

<div ng-if="details.Response==='True'">
  <img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="thumbnail animated flip movie-poster">

  <span class="span-outer">
    <!--<a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
  </span>, {{ details.Year }}
-->

  <p class="outer-p">
  
  </p>

  <p class="outer-p-3">
  
  </p>
</div>

<div ng-if="details.Response==='False'">
  No results found.
</div>